<html>
<header>
    <link rel="stylesheet" href="css/style.css">
</header>

<body>
    <div class="main-content">

        {{>header}}
    <p>{{errorMess}}</p>

    </div>
    {{>footer}}
</body>


</html>