<html>
<header>
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
</header>
<body>
    <div class="main-content">

        {{>header}}

        <img class="potrait" src="img/IMG_2311-CA Visa (digital format)-420x540 px[2791].jpg">

    </div>
        
        <p>{{>footer}}</p>
</body>
</html>